
.header {
    display: flex;
    justify-content: center;
    width: 100%;
}


.title .logo {
    padding-left: 5px;
    width: 70px;
    border-radius: 50%;
}

.nav-item {
    font-size: 20pt;
    font-weight: 700;
}

.nav-item:hover {
    font-size: 25pt;
    font-weight: 900;
    text-decoration: underline;
}



.dropdown-item img {
    width: 30px;
}

.redesocias {
    text-align: center;
    justify-content: center;
}
.redesocias img {
    width: 35px;
    padding-left: 10px;
}
 

          .inicio {
              padding: 50px 0;
          }
    
          .title{
              border-radius: 5px;
              padding: 20px;
          }


          .dialogosaudiovisuais p {
            padding-left: 100px;
            padding-right: 100px;
            text-align: justify;
          }

          .dialogosaudiovisuais img:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          figure {
            padding-top: 30px;
          }

          .img {
            width: 300px;
            border: solid 5px gray;
            height: 297px;
          }
    
          
          .contatos .redesocias {
            padding-bottom: 40px;
          }


        @media screen and (min-width: 100px) and (max-width: 1028px) {

          
            
            .header {
             justify-content: left;
            }

            .nav-item {
                font-size: 10pt;
                font-weight: 900;
            }
            

            

            .h1-mobile img {
            display: inline;
            width: 50px;
            border-radius: 50%;
}

        .legendas  {
            width: 100%;
        }



         }